/* 

ESTILOS PARA WORDCAMP CHICLANA 2020

20, 20 PÁ CHICLANA!!

*/
body {
	background: #fbe9c3a1;
}

body,
input,
select,
textarea {
	font-family: 'Rubik', sans-serif;
	line-height: 1.65;
	color: #2f2f2f;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	background-color: #0071bc;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	transition: background .2s;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	background-color: #981932;
}

.link-button {
	background-color: #0071bc;
	padding: 14px;
	color: #fff !important;
	border: none !important;
}

.link-button:hover {
	background-color: #981932;
}

body.custom-background {
	background-color: #fafafa;
}

.site-title {
	display: none;
}

.site-description {
	/* color: #0071bc; */
	font-weight: 600;
}

h1,
h2,
h2.entry-title,
h2.entry-title a,
h3,
h4,
h5 {
	color: #0071bc;
	font-weight: 400;
}

a {
	color: #0071bc;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #981932;
}

.entry-content a, 
.entry-summary a, 
.page-content a, 
.comment-content a, 
.pingback .comment-body > a {
	border-bottom: 1px solid #981932;
}

.sticky .entry-footer {
	display: none;
}

/* Conferencier */
.attention_button {
	-webkit-appearance: button;
	background-color: #126bad;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	padding: .7917em 1.5em;
}

/* Footer */
.site-info {
	position: relative;
}

.site-info a {
	border-bottom: 0;
	position: relative;
	top: -30px;
}

/* pie de página */
.site-info a:before {
	content: "";
	background-image: url('https://cldup.com/w3gQ97rKP0.svg');
	background-size: 64px;
	background-position: center;
	background-repeat: no-repeat;
	color: #444;
	height: 64px;
	font-size: 20px;
	line-height: 1.3em;
	margin: 0 auto;
	padding: 0;
	width: 64px;
	text-indent: -9999px;
	outline: 0;
	display: block;
	margin-bottom: 10px;
	position: relative;
	background-color: #0071bc;
	border-radius: 100%;
	padding: 32px;
	border: 8px solid #0071bc;
}

.site-footer {
	border: 0;
	box-shadow: none;
	background-color: #126bad;
	color: #fff;
}

.site-footer a {
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.site-info a:hover,
.site-info a:focus {
	border-bottom: none;
	color: #eee;
}

.site-info a:hover {
	border-bottom: 0;
}

.organizer {
	overflow: auto;
	margin-bottom: 50px;
}
/* Media adjustments */
@media screen and (min-width: 59.6875em) {
	.site-info {
		padding: 2% 10% 0;
	}
}

@media screen and (min-width: 0em) {
	.site-footer {
		padding: 0;
	}
}

/* CSS personalizado de 2020.chiclana.wordcamp.org */
/* CSS personalizado de 2019.montreal.wordcamp.org */
/* WCMTL 2019 */
/* CSS personnalisé depuis 2019.calgary.wordcamp.org */
.site-branding {
	text-align: center;
	padding: 0;
}

.custom-logo {
	filter: brightness(0) invert(1);
	max-width: 200px;
}

.jetpack-social-widget-item {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}

.jetpack-social-widget-item svg {
	max-width: 40px;
	max-height: 40px;
}

.jetpack-social-widget-item svg:hover {
	opacity: .75;
}

label.checkbox-multiple {
	font-weight: 400;
}

.ticket-button-widget {
	width: 100%;
	font-size: 20px !important;
	padding: 20px !important;
}

label.grunion-field-label {
	margin-top: 1.5em;
}

.wcorg-sponsor img {
	width: 200px;
	margin-bottom: 1em;
}

.single-wcb_sponsor .post-thumbnail {
	padding-top: 1em;
}

iframe {
	margin-bottom: 0 !important;
}

.page-slug-organizers .avatar {
	margin-bottom: .5em;
}

td img {
	margin: 0 auto;
	display: block;
}

.widget_nav_menu .sub-menu {
	margin: .4688em 0 0;
}

.widget_nav_menu .sub-menu a {
	color: #C7202E;
	font-size: .9em;
	padding-left: 10px;
}

.entry-content p {
	-moz-hyphens: none !important;
	-ms-hyphens: none !important;
	-webkit-hyphens: none !important;
	hyphens: none !important;
}

/* CSS PERSONALIZADO CHICLANA 2020 */
/* AZUL CHICLANA #0071bc 
   ROJO CHICLANA #981932 */


/* BODY */

body {
	background-image: url('https://raw.githubusercontent.com/VictorSTM/WordCamp-Chiclana-2020-css/master/sand-pattern2.jpg');
	background-attachment: fixed;
}

/* SIDEBAR */

#sidebar {
	color: #fff;
	background: #55c3dc;
}

#sidebar .secondary {
	background: transparent;
	margin-bottom: 7rem;
}

#sidebar .secondary {
	text-align: center;
}

#sidebar .secondary a {
	color: #fff;
}

#sidebar .secondary a:hover,
#sidebar .secondary a:focus {
	opacity: .7;
}

/* SIDEBAR > SPONSORS */

.wcb_widget_sponsors {
    display: flex;
    flex-direction: column;
}

.wcb_widget_sponsors >* {
    width: 100%;
}

.wcb_widget_sponsors .super-administrador {
    order: 1;
}

.wcb_widget_sponsors .administrador {
    order: 2;
}

.wcb_widget_sponsors .editor {
    order: 3;
}

.wcb_widget_sponsors .autor {
    order: 4;
}


/* SIDEBAR > HIGHLIGHTED BTN */

#sidebar .btn-compra-entradas a {
	text-transform: uppercase;
	background: #0071bc;
	color: #ffff;
	font-weight: 500;
	text-align: center;
	transition: background .2s;
}

#sidebar .btn-compra-entradas a:hover {
	background: #981932;
	opacity: 1;
}

@media screen and (min-width: 955px) {

	#sidebar .secondary {
		margin-bottom: 3rem;
	}

	#sidebar:after {
		content: "";
		width: 42px;
		height: 100%;
		min-height: 100vh;
		position: absolute;
		right: -42px;
		top: 0;
		background-repeat: repeat-y;
		background-image: url('https://raw.githubusercontent.com/VictorSTM/WordCamp-Chiclana-2020-css/master/wave3.png');
	}
}

/* CONTENT ELEMENTS */

/* CONTENT ELEMENTS > BUTTONS */

.entry-content .wp-block-button .wp-block-button__link {
	border-radius: 0;
	background: #0071bc;
}

.entry-content .wp-block-button .wp-block-button__link:hover {
	background: #981932;
	opacity: 1;
}

/* CONTENT ELEMENTS > BLOCKQUOTE */
.wp-block-quote,
.wp-block-quote:not(.is-large):not(.is-style-large), [class^="wp-block-"] blockquote {
	border-color: #0071bc;
}

/* CONTENT ELEMENTS > LISTS */

.entry-content ol,
.entry-content ul {
    margin-left: 1.3333em;
}

/* CONTENT ELEMENTS > TABLA COMPRA ENTRADAS */

.tix-column-remaining {
	display: none;
}

.tix-column-description {
	width: 100%;
}

@media screen and (max-width: 767px) {

	.tix_tickets_table th {
		font-size: 11px;
		padding-left: .25rem;
		padding-right: 0.25rem;
	}

	.tix-ticket-title,
	.tix-order-summary .tix-column-description {
		font-size: 13px;
	}

	.tix-ticket-excerpt {
		font-size: 12px;
	}

	.tix-column-price,
	.tix-column-per-ticket {
		width: 54px;
	}

	.tix-column-quantity {
		width: 58px;
	}

	.tix_tickets_table td, .tix_tickets_table td select {
		font-size: 12px;
	}

}

@media screen and (min-width: 768px) and (max-width: 1299px) {
	
	.tix-column-price {
		width: 88px;
	}
	
	.tix-column-quantity {
		width: 95px;
	}

}

@media screen and (min-width: 1300px) {

	.tix-column-price {
		width: 110px;
	}

	.tix-column-quantity {
		width: 110px;
	}

}

/* CONTENT ELEMENTS > SCHEDULE */

/*.wcpt-schedule {
	background: #f9f9f9;
}*/

@media screen and (min-width: 701px) {

	thead {
		background: #ecfcff;
	}

	.wcpt-col-time,
	.wcpt-schedule tr td:first-child {
	    width: 65px;
	    text-align: center;
	}

	.wcpt-time {
		background: #eee;
	}
	
	.wcpt-session-type-custom {
	    background: #fff;
	}

	.wcpt-schedule a.wcpt-session-title {
		display: block;
		border: 0;
		text-decoration: none;
	}

	.wcpt-schedule a.wcpt-session-title:hover {
		text-decoration: underline;
	}

	.wcpt-session-speakers a {
		border: none;
		color: inherit;
		text-decoration: none;
	}

	.wcpt-session-speakers a:hover {
		text-decoration: underline;
	}

}

/*@media screen and (min-width: 880px) {
	.wcpt-col-time,
	.wcpt-schedule tr td:first-child {
	    width: 70px;
	}
}
*/


/* CONTENT ELEMENTS > ATTENDEES */

#tix-attendees .avatar {
	margin-right: 20px;
}

#tix-attendees .tix-field {
	margin-left: 0;
}

#tix-attendees .tix-field.tix-attendee-twitter {
	display: inline;
}

#tix-attendees .tix-columns-2 li {
	width: 100%;
}

@media screen and (min-width: 768px) {

	#tix-attendees .tix-columns-2 li {
		width: 50%;
	}
}

/* FOOTER */

.site-footer {
	background: #0071bc;
}