
/* 

ESTILOS PARA WORDCAMP CHICLANA 2020

20, 20 PÁ CHICLANA!!

*/
body {
	background: #fbe9c3a1;
}

body,
input,
select,
textarea {
	font-family: 'Rubik', sans-serif;
	line-height: 1.65;
	color: #2f2f2f;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	background-color: #981932;
	font-family: 'Rubik', sans-serif;
}

.link-button {
	background-color: #126bad;
	padding: 14px;
	color: #fff !important;
	border: none !important;
}

.link-button:hover {
	background-color: rgba(18,107,173,.7);
}

body.custom-background {
	background-color: #fafafa;
}

.site-title {
	display: none;
}

.site-description {
	color: #0070bb;
	font-weight: 600;
}

h1,
h2,
h2.entry-title,
h2.entry-title a,
h3,
h4,
h5 {
	color: #0071bc;
	font-weight: 400;
}

a {
	color: #0071bc;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #981932;
}

.entry-content a, 
.entry-summary a, 
.page-content a, 
.comment-content a, 
.pingback .comment-body > a {
	border-bottom: 1px solid #f15a38;
}

.sticky .entry-footer {
	display: none;
}

/* Conferencier */
.attention_button {
	-webkit-appearance: button;
	background-color: #126bad;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	padding: .7917em 1.5em;
}

/* Footer */
.site-info {
	position: relative;
}

.site-info a {
	border-bottom: 0;
	position: relative;
	top: -30px;
}

/* pie de página */
.site-info a:before {
	content: "";
	background-image: url('https://cldup.com/w3gQ97rKP0.svg');
	background-size: 64px;
	background-position: center;
	background-repeat: no-repeat;
	color: #444;
	height: 64px;
	font-size: 20px;
	line-height: 1.3em;
	margin: 0 auto;
	padding: 0;
	width: 64px;
	text-indent: -9999px;
	outline: 0;
	display: block;
	margin-bottom: 10px;
	position: relative;
	background-color: #0071bc;
	border-radius: 100%;
	padding: 32px;
	border: 8px solid #0071bc;
}

.site-footer {
	border: 0;
	box-shadow: none;
	background-color: #126bad;
	color: #fff;
}

.site-footer a {
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.site-info a:hover,
.site-info a:focus {
	border-bottom: none;
	color: #eee;
}

.site-info a:hover {
	border-bottom: 0;
}

.organizer {
	overflow: auto;
	margin-bottom: 50px;
}

/* Ajout du Français dans l'achat de billets */
.tix-row-coupon a::after {
	content: " / Cliquez ici pour appliquer un code rabais";
}

.tix-row-first-name .tix-left::after {
	content: "/ Prénom";
}

.tix-row-last-name .tix-left::after {
	content: "/ Nom";
}

.tix-row-email .tix-left::after {
	content: "/ Adresse courriel";
}

.tix-row-allergy .tix-left::after {
	content: "/ Avez-vous des allergies mortelles qui affecteraient votre expérience à WordCamp?";
}

.tix-row-accommodations .tix-left::after {
	content: "/ Avez-vous des besoins d’accessibilité tels que l’interpretation en langage des signes ou  l’accès en fauteuil roulant afin de participer à WordCamp?";
}

.tix-row-coc .tix-left::after {
	content: "Acceptez-vous de respecter le code de conduite de l’événement?";
}

.tix-row-allergy .tix-right label:first-child::after,
.tix-row-accommodations .tix-right label:first-child::after {
	content: " / Oui (nous vous contacterons)";
}

.tix-row-allergy .tix-right label:last-child::after,
.tix-row-accommodations .tix-right label:last-child::after {
	content: " / Non";
}

.tix-row-coc .tix-right label::after {
	content: " / Oui";
}

.tix-row-privacy .tix-left::after {
	content: " / Souhaitez-vous être affiché dans la liste des gens présents?";
}

/* Track titles */
.entry-content .wcb-track-developpement::before, .entry-content .wcb-track-development::before {
	content: "Dev";
	background-color: #C6C007;
}

.entry-content .wcb-track-code::before {
	content: "Code";
	background-color: #008CAE;
}

.entry-content .wcb-track-general::before {
	content: "General";
	background-color: #0B0B61;
}

.entry-content .wcb-track-business::before {
	content: "Business";
	background-color: #3c3c3c;
}

.entry-content .wcb-track-content::before {
	content: "Content";
	background-color: #24905f;
}

.entry-content .wcb-track-woocommerce::before {
	content: "Woocommerce";
	background-color: #96588a;
}

.entry-content .wcb-track-lunchtime::before {
	content: "Lunchtime";
	background-color: #e9432e;
}

.entry-content .wcb-track-lightning::before {
	content: "3 x 15min Lightning Talks";
	background-color: #4c459c;
}

/* Show and colour code session tracks */
.entry-content .wcpt-session-type-session::before {
	color: #fff;
	display: block;
	padding: 3px 10px;
	text-transform: uppercase;
}

.wcpt-schedule a {
	text-decoration: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #ce462e;
}

.wcpt-schedule th, .wcpt-schedule td {
	border: 1px solid #ccc;
}

.wcpt-schedule th {
	text-align: center;
}

td.wcpt-time {
	padding: 0 5px;
}

td.wcpt-session-type-session {
	vertical-align: top;
}

/* Track titles */
.entry-content .wcb-track-design::before {
	content: "Design";
	background-color: #C6C007;
}

.entry-content .wcb-track-code::before {
	content: "Code";
	background-color: #008CAE;
}

.entry-content .wcb-track-generale::before {
	content: "Générale";
	background-color: #204B98;
}

.entry-content .wcb-track-marketing::before {
	content: "Marketing";
	background-color: #767676;
}

.entry-content .wcb-track-entreprise::before {
	content: "Entreprise";
	background-color: #ce462e;
}

/* Style session speaker in schedule */
.wcpt-schedule .wcpt-session-speakers {
	display: block;
	font-size: 90%;
	text-transform: uppercase;
	margin-top: 5px;
}

.workshops {
	margin-top: 60px;
}

.workshops a {
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #ce462e;
}

/* Media adjustments */
@media screen and (min-width: 59.6875em) {
	.site-info {
		padding: 2% 10% 0;
	}
}

@media screen and (min-width: 0em) {
	.site-footer {
		padding: 0;
	}
}

/* CSS personalizado de 2020.chiclana.wordcamp.org */
/* CSS personalizado de 2019.montreal.wordcamp.org */
/* WCMTL 2019 */
/* CSS personnalisé depuis 2019.calgary.wordcamp.org */
.site-branding {
	text-align: center;
}

.custom-logo {
	max-width: 200px;
}

.jetpack-social-widget-item {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}

.jetpack-social-widget-item svg {
	max-width: 40px;
	max-height: 40px;
}

.jetpack-social-widget-item svg:hover {
	opacity: .75;
}

label.checkbox-multiple {
	font-weight: 400;
}

.ticket-button-widget {
	width: 100%;
	font-size: 20px !important;
	padding: 20px !important;
}

label.grunion-field-label {
	margin-top: 1.5em;
}

.wcorg-sponsor img {
	width: 200px;
	margin-bottom: 1em;
}

.single-wcb_sponsor .post-thumbnail {
	padding-top: 1em;
}

iframe {
	margin-bottom: 0 !important;
}

.page-slug-organizers .avatar {
	margin-bottom: .5em;
}

td img {
	margin: 0 auto;
	display: block;
}

.widget_nav_menu .sub-menu {
	margin: .4688em 0 0;
}

.widget_nav_menu .sub-menu a {
	color: #C7202E;
	font-size: .9em;
	padding-left: 10px;
}

.entry-content p {
	-moz-hyphens: none !important;
	-ms-hyphens: none !important;
	-webkit-hyphens: none !important;
	hyphens: none !important;
}

.wcorg-speaker {
	text-align: center;
	width: 50%;
	float: left;
}

.wcorg-speaker h2 {
	font-size: 18px;
}

.wcorg-speaker-description p {
	display: none;
}

.single-wcb_speaker .speaker-avatar {
	float: left;
	margin-right: 20px;
}

.wcorg-session h2 {
	margin-top: 0;
}

.wcorg-session ul {
	margin-left: 40px;
}

.wcorg-session:nth-child(even) {
	padding: 30px;
	background-color: #c1c1c140;
	margin-bottom: 40px;
}

.wcb-track-burnswest {
	background: rgb(189,32,50,0.1);
}

.wcb-track-jow-gallery {
	background: rgb(189,32,50,0.25);
}

.wcb-track-officers-mess {
	background: rgb(189,32,50,0.4);
}

.wcb-track-burnswest:hover, .wcb-track-jow-gallery:hover, .wcb-track-officers-mess:hover {
	background: #c1c1c1;
}

.wcb-session-lunch, .wcb-session-more-lunch, .global-session, .wcb-session-after-party, .wcb-session-after-registration, .wcpt-session-type-custom {
	background: #c1c1c1 !important;
}

.wcpt-schedule td {
	padding: .5em;
}

.wcpt-schedule a {
	text-decoration: none !important;
	box-shadow: none;
	border-bottom: none;
}

a.wcpt-session-title {
	display: block;
	font-weight: bold;
	font-size: 14px;
}

a.wcpt-session-title:hover {
	box-shadow: none;
}

.wcpt-session-title {
	font-size: 14px;
}

.wcpt-session-speakers a {
	font-size: 14px;
}

.wcpt-session-speakers a:hover {
	box-shadow: none;
	opacity: .75;
}

.wcpt-col-time {
	width: 15%;
}

.wcpt-time {
	font-size: 14px;
}

.wcpt-col-track {
	width: 30%;
}

.wcpt-session-speakers {
	display: block;
}

#tix-attendees .tix-field {
	border-bottom: 0;
}

#wcorg-sponsor-931 img {
	width: auto;
}

.single-wcb_speaker .speaker-avatar {
	display: none;
}

.single-wcb_speaker .wcb_speaker .wp-block-image {
	margin-bottom: 0;
}

/* CSS PERSONALIZADO CHICLANA 2020 */
/* AZUL CHICLANA #0071bc 
   ROJO CHICLANA #981932 */

div#sidebar:after {
    content: "";
    width: 30px;
    height: 100vh;
    position: absolute;
    right: -30px;
    top: 0;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFk%0D%0Ab2JlIElsbHVzdHJhdG9yIDIzLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246%0D%0AIDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9%0D%0AImh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5v%0D%0AcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgdmlld0JveD0iMCAwIDMwIDEwODAiIHN0%0D%0AeWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMwIDEwODA7IiB4bWw6c3BhY2U9InByZXNl%0D%0AcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojNTVDM0RDO30KPC9zdHls%0D%0AZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMwLjUsMTA4MC41YzAsMC0zMi0xODEtMTUuNS01NDBT%0D%0ALTAuNSwwLjUtMC41LDAuNXYxMDgwSDMwLjUiLz4KPC9zdmc+Cg==");
}

.site-footer {
	background: #0071bc;
}

.wp-block-quote, .wp-block-quote:not(.is-large):not(.is-style-large), [class^="wp-block-"] blockquote {
	border-color: #0070bb;
}

.btn-compra-entradas a {
	background: #0070bb;
	color: #ffff;
	font-weight: 700;
	text-align: center;
}

.sidebar {
	color: #fff;
}